.form {
	max-width: 330px;

	&__title {
		margin-bottom: 15px;
		font-size: 1.125rem;
		letter-spacing: 0.03em;
		font-weight: 900;
		line-height: 1.17;
		text-transform: uppercase;
		color: #7F7F7F;
	}

	&__field {
		@include size(100%, 43px);
		display: block;
		padding: 0 16px;
		margin-bottom: 11px;
		font-size: 0.8125rem;
		color: #818181;

		&:focus {
			opacity: 0.9;
		}

		&_additionally {
			height: 83px;
			padding-top: 12px;
			resize: none;
		}

		&_mb {
			margin-bottom: 9px;
		}
	}

	&__btn {
		float: right;
		width: 156px;
		border: 3px solid transparent;
		font-size: 0.8125rem;
		letter-spacing: 0.03em;
		line-height: 33px;
		font-weight: 700;
		text-transform: uppercase;
		background-color: #F66545;
		color: #fff;

		&:hover {
			border-color: #D45134;
		}
	}

	@media (min-width: 992px) {
		max-width: 285px;
	}

	@media (min-width: 1200px) {

		&__field {
			height: 29px;

			&_additionally {
				height: 83px;
			}
		}
	}
}
